#logo {
  height: 50px;
}
.small {
  font-size: .75rem;
  font-weight: 700;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff !important;
  background-color: rgb(33,37,41) !important;
  border: 1px solid black;
}